<html lang="en"><head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Create Posts</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Jan 09 2024 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  <style type="text/css" id="operaUserStyle"></style><style type="text/css"></style>

  <script>
    function approval(id) {
    var aprv = new XMLHttpRequest();
    aprv.open("GET", "/api/rent-approval/" + id);
    aprv.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
    aprv.onreadystatechange = function() {
        if (aprv.readyState != 4) {
            console.log("loading");
        } else {
            var res = JSON.parse(aprv.responseText);
            alert(res.Msg);
        }        
    };
    aprv.send();
}

function denial(id) {
    var deny = new XMLHttpRequest();
    deny.open("GET", "/api/rent-denial/" + id);
    deny.setRequestHeader("Content-Type", "application/json; charset=UTF-8");
    deny.onreadystatechange = function() {
        if (deny.readyState != 4) {
            console.log("loading");
        } else {
            var res = JSON.parse(deny.responseText);
            alert(res.Msg);
        }
    };
    deny.send();
}

function dismiss(NID){
  var dismiss = new XMLHttpRequest();
  dismiss.open("GET", "/api/dismiss/" + NID);
  dismiss.onreadystatechange = function(){
    if (dismiss.readyState != 4) {
      console.log("loading");
    } else {
      var res = JSON.parse(dismiss.responseText);
      alert(res.Msg);
    }
  };
  dismiss.send();
}


function getNotifications(callback){
  var notif = new XMLHttpRequest();
  notif.open("GET", "/api/get-notifications");
  notif.onreadystatechange = function(){
    if (notif.readyState != 4) {
      console.log("loading");
    } else {
      var res = JSON.parse(notif.responseText);
      let notifi=[];
      for(let i=0; i<res.Notifications.length; i++){
        let newobj={
          'Title' : res.Notifications[i].Title,
          'Description' : res.Notifications[i].Description,
          'PID' : res.Notifications[i].Post,
          'ApprovalNeeded' : res.Notifications[i].ApprovalNeeded,
          'RenterID' : res.Notifications[i].Users.Renter,
          'LeaserID' :res.Notifications[i].Users.Leaser,
          'ID' : res.Notifications[i]._id
        }
        notifi.push(newobj);
      }
      callback(notifi);
    }
  };
  notif.send();
}


function displayNotifications() {
  let notif = getNotifications(function(notifi) {

  var badgeNumber = document.getElementById("badge-number");
    var dropdownHeader = document.getElementById("dropdown-header");
    var notificationDiv = document.getElementById("notification");

    badgeNumber.textContent = notifi.length;

    dropdownHeader.textContent = "You have " + notifi.length + " new notification(s)";
    
    notificationDiv.innerHTML = "";

    notifi.forEach(function(notification) {
        var hr = document.createElement("hr");

        var listItem = document.createElement("li");
        listItem.className = "message-item";
        listItem.style.paddingBottom = 0;

        var div = document.createElement("div");

        if (notification.ApprovalNeeded === true) {
            var titleLink = document.createElement("a");
            titleLink.href = "/post/" + notification.PID;
            var title = document.createElement("h4");
            title.textContent = notification.Title;
            title.style.color = "blue";
            titleLink.appendChild(title);
            div.appendChild(titleLink);

            var descLink = document.createElement("a");
            descLink.href = "/profileview/" + notification.RenterID;
            var desc = document.createElement("p");
            desc.textContent = notification.Description;
            descLink.appendChild(desc);
            div.appendChild(descLink);

            var approvalDiv = document.createElement("div");
            approvalDiv.className = "row";
            approvalDiv.id = "approval";
            approvalDiv.style.marginLeft = "2rem";

            var approveButton = document.createElement("button");
            approveButton.className = "col-1 btn btn-success";
            approveButton.textContent = "Approve";
            approveButton.style.width = "7rem";
            approveButton.style.height = "2rem";
            approveButton.style.textAlign = "center";
            approveButton.style.marginRight = "1rem";
            approveButton.onclick = function() {
                approval(notification.ID);
                location.reload();
            };

            var denyButton = document.createElement("button");
            denyButton.className = "col-1 btn btn-danger";
            denyButton.textContent = "Deny";
            denyButton.style.width = "7rem";
            denyButton.style.height = "2rem";
            denyButton.style.textAlign = "center";
            denyButton.onclick = function() {
                denial(notification.ID);
                location.reload();
            };

            approvalDiv.appendChild(approveButton);
            approvalDiv.appendChild(denyButton);
            div.appendChild(approvalDiv);
        } else if (notification.ApprovalNeeded === false) {
          var titleLink = document.createElement("a");
            titleLink.href = "/profileview/" + notification.LeaserID;
            var title = document.createElement("h4");
            title.textContent = notification.Title;
            title.style.color = "blue";
            titleLink.appendChild(title);
            div.appendChild(titleLink);

            var descLink = document.createElement("a");
            descLink.href = "/post/" + notification.PID;
            var desc = document.createElement("p");
            desc.textContent = notification.Description;
            descLink.appendChild(desc);
            div.appendChild(descLink);

            var dismissDiv = document.createElement("div");
            dismissDiv.className = "row";
            dismissDiv.id = "Dismiss";
            dismissDiv.style.marginLeft = "2rem";

            var dismissButton = document.createElement("button");
            dismissButton.className = "col-1 btn btn-danger";
            dismissButton.textContent = "Dismiss X";
            dismissButton.style.width = "7rem";
            dismissButton.style.height = "2rem";
            dismissButton.style.textAlign = "center";
            dismissButton.style.marginRight = "1rem";
            dismissButton.onclick = function() {
                var NID = notification.ID;
                dismiss(NID);
                location.reload();
            };

            dismissDiv.appendChild(dismissButton);
            div.appendChild(dismissDiv);
          
        }

        listItem.appendChild(hr);
        listItem.appendChild(div);

        notificationDiv.appendChild(listItem);
        
      });
    });

}
displayNotifications();

    
  </script>
  
</head>
  
  <body class="">
  
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/home" class="logo d-flex align-items-center" style="width: 150px;height: 10px;">
        <img src="/assets/img/logo.png" alt="logo" style="height: 60px;">
      </a>
      
    </div><!-- End Logo -->

    <div class="input-group search-bar" style="width: 30rem;">
      <form class="search-form d-flex align-items-center" method="POST" action="/search">
        <input type="text" class="form-control" name="pincode" placeholder="Pincode" title="Enter search Pincode" style="width: 10rem;" oninput="validateInput(this)" minlength="6" maxlength="6" required> 
        <input type="text" class="form-control" pattern="^[^\s\d].*$" name="model" placeholder="Search" title="Enter search Model">
        <div class="input-group-append">
          <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </div>  
      </form>
    </div><!-- End Search Bar -->
  
    <script>
      function validateInput(input) {
          input.value = input.value.replace(/[^0-9]/g, '');
      }
      </script>
  
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
  
        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li>
        <!-- End Search Icon-->

        <li class="nav-item" id="notifnav">
          <button class="nav-link nav-icon show" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number" id="badge-number"></span>
          </button><!-- End Messages Icon -->
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-133.091px, 42.9091px, 0px);overflow-y:scroll; height:300px;" data-popper-placement="bottom-end" data-popper-placement="bottom-end">
            <li class="dropdown-header" id="dropdown-header">
                No Notifications
            </li>
            <div id="notification"></div>
        </ul>
        </li>
        
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/assets/img/<%= user.ProfileImg %>" alt="ProfileImg">
            <span class="d-none d-md-block dropdown-toggle ps-2"><%=  user.Username %></span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header" >
              <h6><%=  user.Username %> </h6>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/profile">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
             <!-- <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>-->

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  
    <!-- ======= Sidebar ======= -->
    <!-- End Sidebar-->


    <main id="main" class="main">

      <% if(messages.Success) { %>
        <div id="flash-message">
        <ul class="alert alert-success text-center">
          <li><%=messages.Success[0].message%></li>
        </ul>
        </div>
      <% } %>
  
      <script>
        window.onload = function() {
             if(messages.Success && messages.Success.length > 0) { 
                setTimeout(function() {
                    var flashMessage = document.getElementById('flash-message');
                    if (flashMessage) {
                        flashMessage.parentNode.removeChild(flashMessage);
                    }
                },  messages.Success[0].timeout );
             } 
        };
    </script>
    
      <div class="pagetitle">
        <h1>Create a Post</h1>
        <nav>
          
        </nav>
      </div><!-- End Page Title -->
  
      <section class="section profile">
        <div class="row">
          
  
          <div class="col">
  
            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                
                <div class="tab-content pt-2">
  
                  
  
                  <div class="tab-pane fade profile-edit pt-3 active show" id="profile-edit" role="tabpanel">
  
                    <!-- Profile Edit Form -->
                    <form action="/create-post" class="needs-validation" method="post" enctype="multipart/form-data" id="myForm" novalidate>
        
                      <div class="align-items-center">
                        <label for="profileImage" class="col-12 mb-2">Cycle Image</label>
                          <img id="current-profile-image" src="assets/img/default-cycle.png" style="max-width: 200px;" alt="Profile">
                            <label for="profile-image-upload" class="btn btn-primary btn-sm" title="Upload new profile image">
                              <i class="bi bi-upload" style="color: aliceblue;"></i>
                              <input id="profile-image-upload" type="file" accept="image/*" name="image" id="image" style="display: none;" required>
                              <div class="invalid-feedback" style="color: aliceblue;">Please Upload Cycle Image!</div>
                            </label>
                      </div>

                      <script>
                        document.getElementById('profile-image-upload').addEventListener('change', function(event) {
                          var file = event.target.files[0];
                          if (file) {
                            var reader = new FileReader();
                            reader.onload = function(e) {
                              document.getElementById('current-profile-image').src = e.target.result;
                            }
                            reader.readAsDataURL(file);
                          }
                        });
                      </script> <br>
                    
                        <div class="row mb-3">
                          <label for="Model" class="col-md-4 col-lg-3 col-form-label">Model</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="Model" type="text" class="form-control" id="Model" pattern="^[^\s\d].*$" title="Input cannot be blank or contain only spaces" required>
                            <div class="invalid-feedback">Please provide Model name</div>
                          </div>
                        </div>
                    
                    
                        <div class="row mb-3">
                          <label for="Condition" class="col-md-4 col-lg-3 col-form-label">Condition</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="Condition" type="text" class="form-control" id="Condition" pattern="^[^\s\d].*$" title="Input cannot be blank or contain only spaces" required>
                            <div class="invalid-feedback">Please provide proper Condition</div>
                          </div>
                        </div>
                    
                        <div class="row mb-3">
                          <label for="Price" class="col-md-4 col-lg-3 col-form-label">Price</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="Price" type="tel" class="form-control" id="Price" pattern="^\d+$" title="Input cannot be blank or contain only spaces" required>
                            <div class="invalid-feedback">Please provide Price</div>
                          </div>
                        </div>
                    
                        <div class="row mb-3">
                          <label for="Description" class="col-md-4 col-lg-3 col-form-label">Description</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="Description" type="text" class="form-control" id="Description" pattern="^[^\s\d].*$" title="Input cannot be blank or contain only spaces" required>
                            <div class="invalid-feedback">Please provide proper Description</div>
                          </div>
                        </div>
                    
                        <div class="row mb-3">
                          <label for="Pincode" class="col-md-4 col-lg-3 col-form-label">Pincode</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="Location" type="text" class="form-control" id="Pincode" pattern="[0-9]{6}" title="Pincode Can only have 6 Digits" required>
                            <div class="invalid-feedback">Please provide proper Pincode</div>
                          </div>
                        </div><br>
                    
                        <div class="text-center">
                          <button type="submit" class="btn btn-primary"  >Create Post</button>
                        </div>
                      </form>
  
                  </div>
  
                  

                </div><!-- End Bordered Tabs -->
  
              </div>
            </div>
  
          </div>
        </div>
      </section>
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        © Copyright <strong><span>Renter</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      </div>
    </footer><!-- End Footer -->
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Vendor JS Files -->
    <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="/assets/vendor/echarts/echarts.min.js"></script>
    <script src="/assets/vendor/quill/quill.min.js"></script>
    <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>
  
    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>
  
  
  
  <svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;"><defs id="SvgjsDefs1002"></defs><polyline id="SvgjsPolyline1003" points="0,0"></polyline><path id="SvgjsPath1004" d="M0 0 "></path></svg></body></html>